<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List User</title>
</head>
<body>
	<div>
		<form th:action="@{/search-user}" method="POST">
			<input type="search" name="search" value="" placeholder="search" />
		</form>
	</div>
	<div th:each="user : ${users}">
		<div th:text="${user.name}"></div>
		<div th:text="${user.age}"></div>
		<div th:text="${user.address}"></div>
		<a th:text="#{detail}" th:href="@{/detail-user?id=}+${user._id}"></a>
		<a th:text="#{update}" th:href="@{/update-user?id=}+${user._id}"></a>
		<a th:text="#{delete}" th:href="@{/delete-user?id=}+${user._id}"></a>
	</div>
</body>
</html>